@font-face {
	font-family: 'Cerebri Sans Book';
	src: url('./fonts/cerebri/hinted-CerebriSans-Book.eot');
	src: url('./fonts/cerebri/hinted-CerebriSans-Book.eot?#iefix') format('embedded-opentype'),
		url('./fonts/cerebri/hinted-CerebriSans-Book.woff2') format('woff2'),
		url('./fonts/cerebri/hinted-CerebriSans-Book.ttf') format('truetype'),
		url('./fonts/cerebri/hinted-CerebriSans-Book.svg#CerebriSans-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cerebri Sans';
	src: url('./fonts/cerebri/hinted-CerebriSans-Medium.eot');
	src: url('./fonts/cerebri/hinted-CerebriSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/cerebri/hinted-CerebriSans-Medium.woff2') format('woff2'),
		url('./fonts/cerebri/hinted-CerebriSans-Medium.ttf') format('truetype'),
		url('./fonts/cerebri/hinted-CerebriSans-Medium.svg#CerebriSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cerebri Sans Medium';
	src: url('./fonts/cerebri/hinted-CerebriSans-MediumItalic.eot');
	src: url('./fonts/cerebri/hinted-CerebriSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/cerebri/hinted-CerebriSans-MediumItalic.woff2') format('woff2'),
		url('./fonts/cerebri/hinted-CerebriSans-MediumItalic.ttf') format('truetype'),
		url('./fonts/cerebri/hinted-CerebriSans-MediumItalic.svg#CerebriSans-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Cerebri Sans Book';
	src: url('./fonts/cerebri/hinted-CerebriSans-BookItalic.eot');
	src: url('./fonts/cerebri/hinted-CerebriSans-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/cerebri/hinted-CerebriSans-BookItalic.woff2') format('woff2'),
		url('./fonts/cerebri/hinted-CerebriSans-BookItalic.ttf') format('truetype'),
		url('./fonts/cerebri/hinted-CerebriSans-BookItalic.svg#CerebriSans-BookItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}



html {
  background: black !important;
  width: 100%;
  overflow-x: hidden;
}

.uk-width-5-6 {
  width: 1520px !important;
}

/* COLORS AND BACKGRONDCOLRS */

/* NOTE: the slant classes does not work without paralax ( because position relative is not set)*/

.black-color {
  color: #101010;
}
.black-color-force {
  color: #101010
}

.black-color-force * {
  color: #101010
}

.black-border-color {
  border-color: #101010;
}

.black-background {
  background-color: #101010;
}

.black-background>.slantTopRight, .black-background>.slantTopLeft {
  border-color: transparent #101010 #101010 transparent;
}

.beige-color {
  /*color: #ffffff;*/
  color: #fffef5
}

.beige-color-force * {
  /*color: #ffffff;*/
  color: #fffef5 !important;
}

.beige-border-color {
  /*border-color: #ffffff;*/
  border-color: #fffef5
}

.beige-background {
  /*background-color: #ffffff;*/
  background-color: #fffef5
}

.beige-background>.slantTopRight, .beige-background>.slantTopLeft {
  border-color: transparent #fffef5 #fffef5 transparent;
}

.green-color {
  color: #075945
}

.green-color-force * {
  color: #075945
}

.green-border-color {
  color: #075945
}

.green-background {
  background-color: #075945
}

.green-background>.slantTopRight, .green-background>.slantTopLeft {
  border-color: transparent #075945 #075945 transparent;
}

.pink-color {
  color: #F8E6F7
}

.pink-color-force * {
  color: #F8E6F7
}

.pink-border-color {
  border-color: #F8E6F7
}

.pink-background {
  background-color: #F8E6F7
}

.pink-background>.slantTopRight, .pink-background>.slantTopLeft {
  border-color: transparent #F8E6F7 #F8E6F7 transparent;
}

.blue-color {
  color: #0008A1
}

.blue-color-force * {
  color: #0008A1
}

.blue-border-color {
  border-color: #0008A1
}

.blue-background {
  background-color: #0008A1
}

.blue-background>.slantTopRight, .blue-background>.slantTopLeft {
  border-color: transparent #0008A1 #0008A1 transparent;
}

/*SLANTED TOPS NEW*/

/*source:http://bennettfeely.com/clippy/*/

/*DOES NOT WORK NICELY - performance lag. Perhaps ui-kit related/conflic*/

/*.slantedTop{
  padding-top: 7.5%;
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  }*/

/*SLANTED TOPS*/

.slantContainer {
  position: relative;
}

.slantTopLeft {
  height: 0;
  border-width: 0 0 40px 100vw;
  position: absolute;
  left: 0;
  top: -40px;
  border-style: solid;
  border-color: transparent inherit inherit transparent;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slantTopRight {
  height: 0;
  border-width: 0 0 40px 100vw;
  position: absolute;
  left: 0;
  width: 100%;
  top: -40px;
  border-style: solid;
}

.offsetSlantTop {
  margin-top: 60px;
  margin-bottom: -60px;
}

.section {
  position: relative;
}

@media (max-width: 640px) {
  .slantTopLeft {
    border-width: 0 0 20px 100vw;
    top: -20px;
  }
  .slantTopRight {
    border-width: 0 0 20px 100vw;
    top: -20px;
  }
}

em {
  color: inherit !important;
}

h1, .uk-h1 {
  /*font-family: 'Poppins', sans-serif !important;*/
  /*font-family: 'Relative Book', sans-serif !important;*/
  font-weight: normal !important;
  @media (max-width: 1600px) {
    font-size: 2.3rem !important;
  }
  @media (max-width: 960px) {
    font-size: 2rem !important;
  }
  @media (max-width: 640px) {
    font-size: 1.4rem !important;
  }
}

h2, .uk-h2 {
  /*font-family: 'Poppins', sans-serif !important;*/
  /*font-family: 'Relative Book', sans-serif !important;*/
  font-weight: normal !important;
  @media (max-width: 1600px) {
    font-size: 1.8rem !important;
  }
  @media (max-width: 960px) {
    font-size: 1.6rem !important;
  }
  @media (max-width: 640px) {
    font-size: 1.15rem !important;
  }
}

h4, .uk-h4 {
  @media (min-width: 1600px) {
    font-size: 1.6rem !important;
    line-height: 2.0rem !important;
  }
  @media (max-width: 960px) {
    font-size: 1.6rem !important;
  }
  @media (max-width: 640px) {
		font-size: 1.3rem !important;
    line-height: 1.1 !important;
  }
}

h5, .uk-h5 {
  /*font-family: 'Poppins', sans-serif !important;*/
  /*font-family: 'Relative Book', sans-serif !important;*/
  font-weight: normal !important;
  @media (max-width: 1600px) {
    font-size: 1.15rem !important;
  }
  @media (max-width: 960px) {
    font-size: 1.05rem !important;
  }
  @media (max-width: 640px) {
    font-size: 1rem !important;
  }
}

.hugeLetters {
  line-height: 0.95 !important;
  font-size: 9.6vw !important;
  /*font-family: 'Poppins', sans-serif !important;*/
  /*letter-spacing: -0.2vw !important;*/
  /*font-weight: 500;*/

  /*font-family: 'Cerebri Sans', sans-serif !important;
  font-weight: 400;*/

  /*font-family: 'Cerebri Sans Book', sans-serif !important;
  letter-spacing: -0.6vw !important;*/

  font-family: 'Cerebri Sans', sans-serif !important;
  letter-spacing: -0.45vw !important;
  font-weight:400 !important;



  /*speak: none !important;
  font-style: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased !important;*/
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: inherit;*/
  @media (max-width: 960px) {
    font-size: 13vw !important;
    letter-spacing: -0.3vw !important;
  }
  @media (min-width: 1921px) {
    font-size: 150px !important;
    letter-spacing: -4px !important;
  }
}

.ignoreWidthSmallScreen {
  @media (max-width: 1400px) {
    width: 100% !important;
  }
}

.killPadding {
  margin-left: -40px;
  margin-right: -40px;
  @media (min-width: 960px) and (max-width: 1200px) {
    margin-left: -40px;
    margin-right: -40px;
  }
  @media (min-width: 641px) and (max-width: 959px) {
    margin-left: -20px;
    margin-right: -20px;
  }
  @media (max-width: 640px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/*.nuxt-link-active>*{

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: inherit;
}*/

/*HELPERS*/


/*.helper-visible-xl {
  display: none;
}

@media (min-width: 1921px) {
  .helper-visible-xl {
    display: initial;
  }
}

.helper-hidden-xl {
  display: initial;
}

@media (min-width: 1921px) {
  .helper-hidden-xl {
    display: none;
  }
}*/


.icon-right-1 {
  font-size: 60%;
  transform: translateY(-10%);
  display: inline-block;
}

.icon-left {
  font-size: 60%;
  transform: translateY(-10%);
  display: inline-block;
}



.mobilePageHeader {
  -webkit-box-shadow: inset 0px -2px 0px 0px;
  -moz-box-shadow: inset 0px -2px 0px 0px;
  box-shadow: inset 0px -2px 0px 0px;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none !important;
  -webkit-box-shadow: inset 0px -3px 0px 0px;
  -moz-box-shadow: inset 0px -3px 0px 0px;
  box-shadow: inset 0px -3px 0px 0px;
  transition: box-shadow 0.25s;
}

@media (max-width: 640px) {
  a:hover {
    -webkit-box-shadow: inset 0px -2px 0px 0px;
    -moz-box-shadow: inset 0px -2px 0px 0px;
    box-shadow: inset 0px -2px 0px 0px;
  }
}

/*.bounce-enter-active {
  animation: bounce-in .8s;
}

.bounce-leave-active {
  animation: bounce-out .8s;
}

@keyframes bounce-in {
  0% {
    transform: translateY(100vh)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-100vh)
  }
}*/

/*Lazy loading*/

img.lazyload {
  transition: opacity 1s;
  opacity: 0;
}

img[lazy=loaded] {
  opacity: 1;
}

/*img optimization*/

img {
  image-rendering: optimizeSpeed;
  /*                     */
  image-rendering: -moz-crisp-edges;
  /* Firefox             */
  image-rendering: -o-crisp-edges;
  /* Opera               */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and Safari) */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                */
}

/*text-scroll*/

.text-scroll-container {
  overflow: hidden;
  /* To make the width of the text-scroll-container exact. */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-scroll-content {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  /* Required to make ellipsis work */
  text-overflow: ellipsis;
  /* Starting transition */
  left: 0%;
  width: 100%;
  transition-timing-function: linear;
  /* Tweak 'till your heart's text-scroll-content */
  -webkit-transition: left 6s, width 6s;
  -moz-transition: left 6s, width 6s;
  transition: left 6s, width 6s;
}

/* The magic! */

.text-scroll-container:hover:not(.text-scroll-disable) .text-scroll-content {
  /* This is not completely accurate. It resizes to 2x the current width. */
  left: -100%;
  width: 200%;
}

.slide-item-down-small {
  transition: transform 250ms ease-in-out;
}

.slide-item-down-small:hover {
  transform: translateY(10px);
}


.slide-item-right-small {
  transition: transform 250ms ease-in-out;
}

.slide-item-right-small:hover {
  transform: translateX(10px);
}

.slide-item-right {
  transition: transform 250ms ease-in-out;
}

.slide-item-right:hover {
  transform: translateX(20px);
}
