html {
  background: black !important;
}
.black-text{
  color: #101010;
}
.black-background{
  color: #101010;
}


h1 {
  /*font-family: 'Poppins', sans-serif !important;*/
  /*font-family: 'Relative Book', sans-serif !important;*/
  font-weight: normal !important;
}

.hugeLetters {
  font-size: 8vw !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;

  @media (max-width: 960px){
    font-size: 12vw !important;
  }

}

.killPadding {
  margin-left: -80px;
  margin-right:-80px;

  @media (min-width: 960px) and (max-width: 1200px){
    margin-left: -60px;
    margin-right: -60px;
  }

  @media (min-width: 641px) and (max-width: 959px){
    margin-left: -40px;
    margin-right: -40px;
  }

  @media (max-width: 640px) {
    margin-left: -35px;
    margin-right: -35px;
  }

}


/*.nuxt-link-active>*{

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: inherit;
}*/

.nuxt-link-exact-active {
  text-decoration: underline;
}

.bounce-enter-active {
  animation: bounce-in .8s;
}

.bounce-leave-active {
  animation: bounce-out .8s;
}

@keyframes bounce-in {
  0% {
    transform: translateY(100vh)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-100vh)
  }
}
