
// 1. Your custom variables and variable overwrites.
$global-font-family: 'Cerebri Sans Book', sans-serif;
// $global-font-family: 'Relative Book', sans-serif;

$global-link-color: #101010;
$global-emphasis-color:#101010;

$container-max-width: 1920px;

$global-medium-font-size: 1.3rem;


// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";
